.sliderBtn {
  position: static;
  top: 50%;
  transform: translateY(-50%);

  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  border: none;

  font-size: 2.2vh;
  padding: 1.2vh 1.6vw;
  border-radius: 50%;

  cursor: pointer;
  z-index: 10;
  height: 8vh ;
}

.sliderBtn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.left {
  left: 1.5vw;
}

.right {
  right: 1.5vw;
}
